# Eclipse
/.settings/
/.cproject
/.project

# Configure
/build/
/CMakeFiles/
/CMakeCache.txt
/Doxyfile
/Makefile
/*.cmake
/*.pc

# Test
/Testing/

# Coverage
/image-coverage/
/image-coverage.info

# Doxygen
/doxygen-doc