# Eclipse project files
/.cproject
/.project
/.settings/

# Bootstrap
*.in
*.m4
!/m4/m4*
/autom4te.cache/
/build-aux/
configure

# Configure
*.log
*.status
.deps/
include/config.h
include/stamp-h1
Doxyfile
libtool
Makefile

# Build
*.o

# Code coverage
*.gcda
*.gcno
*-coverage/
*-coverage.info

# Doxygen
/doxygen-doc/

# Distribute
*.tar.gz
