# Eclipse
/.autotools
/.cproject
/.project
/.settings/

# Bootstrap
*.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/configure
/m4/l*.m4

# Configure
.deps/
Makefile
config.h
stamp-h1
/config.log
/config.status
/Doxyfile
/libtool

# Make
*.o

# Code coverage
*.gcda
*.gcno
/*coverage*

# Distribute
*.tar.gz
